# Terrform
tf-code/
plan.out
terraform.tfstate*
.terraform
.terraform.lock.hcl
*.log
terraform-provider-todo/bin/
terraform-provider-todo/pkg/
cmd/todo-list-server/pkg/
cmd/todo-list-server/bin/
class-terraform-getstarted.md

# Binaries
terraform-provider-todo
terraform-provider-todo_v*
todo-list-server

# System Files
.DS_Store

# Don't ignore these
!/terraform-provider-todo/
!/cmd/todo-list-server/
